.title {
    font-family: sans-serif;
    display: grid;
    min-width: 400px;
}

h1 {
    place-self: center;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5%;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1A7DB8;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}